{% extends 'layout.html' %}

{% block content %}

<!-- Título de la Página -->
<h1 class="fs-2">Posts</h1>
<!-- Información de la Página (Segundo Titulo) -->
<h3>Noticias del {{ total_posts }} mes {{ total_posts|pluralize }}</h3>

{% for post in posts %}

<div class="py-3">

  <div class="card card-body bg-white">
    <div class="row">

      <!-- Columna para la imagen -->
      <div class="col-3">
        <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
      </div>

      <!-- Columna para el contenido del post -->
      <div class="col-9">
        <!-- Título del post -->
        <h1>{{ post.title }}</h1>
        <!-- Descripción del post, se elimina el HTML y se limita a 400 caracteres -->
        <p>{{ post.description|striptags|truncatechars:400 }}</p>
        <!-- Fecha del post en formato especificado y en mayúsculas -->
        <p>{{ post.date|date:'F jS Y'|upper }}</p>
        <!-- Enlace al detalle del post -->
        <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary">Seguir Leyendo</a>
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}
